$black-color: #242424;
$grey-color: #555a65;
$main-color: #ffd53b;
$main-color-hover: #fffb00;
$main-grey: #f8f8fa;

$gap-xs: 0.5rem;
$gap-s: 0.8rem;
$gap: 1rem;
$gap-m: 1.5rem;
$gap-l: 2rem;

$padding-xs: 0.5rem;
$padding-s: 0.8rem;
$padding: 1rem;
$padding-m: 1.5rem;
$padding-l: 2rem;

$font-size-s: 0.85rem;
$font-size: 1rem;

$radius: 25px;

$transition: 0.5s;
