.breadcrumbs {
  padding: $padding 0;
  color: $grey-color;
  font-size: $font-size-s;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: $gap;

    @media screen and (max-width: 767px) {
      gap: $gap-xs;
    }
  }

  &__link {
    color: $grey-color;
    transition: $transition;

    &:hover {
      color: $black-color;
    }
  }
}
