.chats {
  position: fixed;
  bottom: 100px;
  right: 100px;

  &-first {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: $main-color;
    -webkit-box-shadow: 1px 1px 39px 1px rgba(134, 134, 134, 0.5);
    -moz-box-shadow: 1px 1px 39px 1px rgba(134, 134, 134, 0.5);
    box-shadow: 1px 1px 39px 1px rgba(134, 134, 134, 0.5);
  }

  &-second {
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #32a7d9;
    transition: 0.3s;
  }
  &-second.active {
    transform: translateY(-150px);
  }
  &-third {
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #51c65e;
    transition: 0.3s;
  }
  &-third.active {
    transform: translateY(-75px);
  }
}

// .chats-first:hover ~ .chats-second {
//   transform: translateY(-150px);
// }
// .chats-first:hover ~ .chats-third {
//   transform: translateY(-75px);
// }
