.header {
  padding: 20px 0;
  background-color: $black-color;
  color: white;
  font-size: 14px;

  &__list {
    display: flex;
    gap: $gap-m;

    &-link {
      color: white;
      transition: 0.4s;

      &:hover {
        color: $main-color;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: $gap;

    a {
      color: white;
      transition: 0.4s;

      &:hover {
        color: $main-color;
      }
    }
  }

  &__btns {
    display: flex;
    gap: $gap-m;
  }
}
